html {
    height: 100%;
    background-color: #DDDDDD;
}

body {
    width: 42em;
    min-height: 100%;
    margin: 0 auto;
    border: solid 0 #999999;
    border-width: 0 1px;
    padding: 0 1em;
    background-color: #FFFFFF;
}
