# これは DB 設定ファイルのテンプレートです.
# このファイルで, 接続先 DB の DSN, username, password を指定します.
# ナンバー記号で始まる行はコメント行として無視されます.
# コメント行以外の行が, 上から順に DSN, username, password として認識されます.
# 
# dsn
dbi:mysql:dbname=DBNAME
# username
USERNAME
# password
PASSWORD
