[% WRAPPER 'wrapper.page.html' %]
   <div>
      <h1>Diary - index</h1>
      <h2>[% user.name %] さんの日記記事一覧</h2>
      [% IF articles_on_page.length() != 0 %]
      <ul>
        [% FOREACH article IN articles_on_page %]
        <li><a href="/user:[% user.name | uri %]/article:[% article.id | uri %]">[% article.title | html %]</a></li>
        [% END %]
      </ul>
      [% ELSE %]
      <p>記事はありません</p>
      [% END %]

      <!-- TODO: test -->
      [% IF num_pages %]
      <div class="pager">
        [% p = 1 %]
        [% WHILE p <= num_pages %]
        <a href="/user:[% user.name | uri %]/articles?page=[% p | uri %]">[% p | html %]</a>
        [%   p = p + 1 %]
        [% END %]
      </div>
      [% END %]

   </div>
[% END %]
