[%- # 変数 article と r を用いる -%]
        <h1 class="article-title">
          [%- # TODO: user.name や article.id をフィルタに通す -%]
          <a href="/user:[% user.name %]/article:[% article.id %]">[% article.title | html %]</a>
        </h1>
        <div class="article-body">[% r.conv_lf_to_br_tag( r.esc_html( article.body ) ) %]</div>
        <div class="article-date">
          <div class="article-date-created_on">作成日時 : [% article.created_on.strftime('%Y-%m-%d %H:%M') | html %] (UTC)</div>
          <div class="article-date-updated_on">更新日時 : [% article.updated_on.strftime('%Y-%m-%d %H:%M') | html %] (UTC)</div>
        </div>

