[%- SET diary_title = user.name _ ' の日記' -%]
[%- SET page_title  = article.title         -%]
[% WRAPPER 'wrapper.page.html' title = page_title _ ' - ' _ diary_title %]
    <div>
      <h1><a href="/user:[% user.name | uri | html
          %]/articles">[% user.name | html %] の日記</a></h1>
      <article class="article">

        [%- INCLUDE sub.article_body.html 
                r       = r      ,
                article = article,
        %]

        [% IF r.user.id == user.id %]
        <section>
          <h1>記事の管理</h1>
          <div>
            <a href="/user:[% user.name | uri | html
                %]/article:[% article.id | uri | html %];edit">編集する</a>
          </div>
          <form action="/user:[% user.name | uri | html
              %]/article:[% article.id | uri | html %];delete" method="POST">
            <div><input type="submit" value="記事を削除する"></div>
          </form>
        </section>
        [% END %]
      </article>

    </div>
[% END %]
