[%- SET diary_title = user.name _ ' の日記'           -%]
[%- SET page_title  = '記事の編集 : ' _ article.title -%]
[% WRAPPER 'wrapper.page.html' title = page_title _ ' - ' _ diary_title %]
    <div>
      <h1><a href="/user:[% user.name | html %]/articles">[% diary_title | html %]</a></h1>
      <article>
        <form action="/user:[% user.name | uri | html
              %]/article:[% article.id | uri | html %];update" method="POST">
          <div>title : <input type="text" name="title" value="[% article.title | html %]"></div>
          <div><textarea name="body">[% article.body | html %]</textarea></div>
          <div><input type="submit" value="記事を更新"></div>
        </form>
        <div>
          <a href="/user:[% user.name | uri | html
              %]/article:[% article.id | uri | html %]">更新せずに戻る</a>
        </div>
      </article>

    </div>
[% END %]
