[%- SET diary_title = user.name _ ' の日記' -%]
[%- SET page_title  = '記事一覧'            -%]
[% WRAPPER 'wrapper.page.html' title = page_title _ ' - ' _ diary_title %]
    <div>
      <h1><a href="/user:[% user.name | html %]/articles">[% user.name | html %] の日記</a></h1>
      <h2>日記記事一覧</h2>

      [% INCLUDE 'sub.pager.html' %]

      [% IF articles_on_page.length() != 0 %]
      [%- #<ul id="article-list"> -%]
      <div id="article-list">
        [% FOREACH article IN articles_on_page %]
        <!--
        <li><a href="/user:[% user.name | uri %]/article:[% article.id | uri %]"
          >[% article.title | html %]
          <span class="time-created_on">([% article.created_on.strftime('%Y-%m-%d %H:%M') | html %])</span></a></li>
        -->

        <article class="article">

        [%- INCLUDE sub.article_body.html 
                r       = r      ,
                article = article,
         %]

        </article>

        [% END %]
      </div>
      [%- #</ul> -%]
      [% ELSE %]
      <p>記事はありません</p>
      [% END %]

      [% INCLUDE 'sub.pager.html' %]
    </div>

    <script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="/js/helper.js"></script>
    [%- # ページ番号が指定されている場合は読み込み機能が使われないようにする -%]
    [%- IF not page_specified -%]
    <script type="text/javascript" src="/js/articles_loader.js"></script>
    <script type="text/javascript">
      ArticlesLoader.conf['user_name'   ] = "[% user.name    %]"; // '<' のエンコード
      ArticlesLoader.conf['num_per_page'] = [% num_per_page %]; // '<' のエンコード
      ArticlesLoader.conf['num_pages'   ] = [% num_pages    %]; // '<' のエンコード
      ArticlesLoader.conf['cur_page_num'] = [% cur_page     %]; // '<' のエンコード
      ArticlesLoader.initialize();
    </script>
    [%- END -%]
    [%- # TODO: ログインしていない場合はその場編集機能が使われないようにする -%]
    <script type="text/javascript" src="/js/article_editor.js"></script>
    <script type="text/javascript">
      var aem = new ArticleEditorManager();
      aem.initialize();
    </script>
[% END %]
